@forward 'mixins.breakpoints.scss';
@use 'sass:color';

/* Enable hover only on non-touch devices */
@mixin nonTouchDevice {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

/* Enable hover only on touch devices */
@mixin touchDevice {
  @media (hover: none) and (pointer: coarse) {
    @content;
  }
}

/* Dark browser color scheme */
@mixin colorSchemeDark {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

/* Prefers reduced motion */
@mixin reducedMotion {
  @media (prefers-reduced-motion) {
    @content;
  }
}

/* HexToRGB */
@function HexToRGB($hex) {
  @return color.channel($hex, 'red'), color.channel($hex, 'green'), color.channel($hex, 'blue');
}

@mixin custom-scrollbar($width: 4px,
  $radius: 2px,
  $thumb-border-color: var(--color-primary),
  $thumb-hover-border-color: var(--color-brown-90),
  $min-height: 56px,

) {
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  &::-webkit-scrollbar-track {
    border-radius: $radius;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-border-color;
    border-radius: $radius;
    min-height: $min-height;

    @include nonTouchDevice {
      &:hover {
        background: $thumb-hover-border-color;
      }
    }
  }
}